# ADM FlexNet Server - Environment Configuration
# Copy to .env and adjust values as needed

ADM_FLEXNET_HOSTNAME=name_of_server
ADM_FLEXNET_MAC_ADDRESS=XX:XX:XX:XX:XX:XX
ADM_FLEXNET_NLM_URL=https://damassets.autodesk.net/content/dam/autodesk/www/files/linux/nlm11.19.9.0_ipv4_ipv6_linux64.tar.gz
ADM_FLEXNET_COMMAND=-l /logs/lmgrd.log
